@import url(./about.scss);
* {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        margin: 0;
        padding: 0;
    }

    font-family: 'futura';

    & a {
        text-decoration: none;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@font-face {
    font-family: 'sunday';
    src: url(./font/sundaybestrusbyalince.otf);
}

@font-face {
    font-family: 'futura';
    src: url(./font/FuturaPT-Medium.ttf);
}

header {
    & .header__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
            cursor: pointer;
            font-family: 'sunday';
            font-size: 13px;
            display: flex;
            gap: 5px;
            align-items: center;
        }

        & p::after {
            content: '';
            background: url(./img/sun-svgrepo-com.svg);
            background-repeat: no-repeat;
            width: 82px;
            height: 25px;
            display: block;
        }

        & p:hover {
            color: #FFCC33;
            transition: 1s;
        }

        & a {
            font-family: 'sunday';
            font-size: 13px;
            color: black;
            border: 2px solid black;
            padding: 10px 15px;
            border-radius: 15px;
        }

        & a:hover {
            background: #FFCC33;
            transition: 1s;
        }
    }


}

.portfolio {

    & .heading {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & h1 {
            font-family: 'sunday';
            font-size: 48px;
            text-align: center;
        }

        & .description {
            font-size: 30px;
            max-width: 600px;
            text-align: center;
            margin-top: 10px;
            position: relative;
        }

        & .description::after{
            content: '';
            background: url(./img/icons8-orange-juice-48.png);
            background-repeat: no-repeat;
            width: 90px;
            height: 48px;
            display: block;
            position: absolute;
            top: 35%;
            right: -4%;
        }
    }

    &__projects {
        & h2 {
            font-family: 'sunday';
            font-size: 25px;
            text-align: center;
            margin-top: 40px;
        }

        & .cardbox {
            align-items: center;
            display: flex;
            gap: 50px;
            margin-top: 50px;
            flex-wrap: wrap;
            justify-content: center;

            &__project {
                cursor: pointer;
                position: relative;

                & img {
                    width: 300px;
                    border-radius: 15px;
                    height: 445px;
                }

                & .overlay {
                    opacity: 0;
                    position: absolute;
                    top: 3%;

                    & .content {
                        width: 300px;
                        color: orange;

                        & h3 {
                            font-size: 25px;
                            text-align: center;
                            margin-top: 5%;
                        }

                        & .pageList{
                            margin-bottom: 10px;
                        }

                        & span {
                            color: white;
                            font-size: 18px;
                            display: block;
                            margin-bottom: 5px;
                            text-transform: capitalize;
                            margin-left: 3%;
                            text-align: center;
                        }
                    }
                }

                & h4 {
                    text-align: center;
                    font-size: 25px;
                    padding: 10px 15px;
                    border: 3px solid black;
                    border-radius: 15px;
                    color: #dc143c;
                }

                & h4:hover{
                    
                    background:#fda3c4;
                    transition: 1s;
                }
            }

            & .top:hover {
                & img {
                    filter: brightness(30%);
                    transition: 0.5s;
                }

                & .overlay {
                    opacity: 1;
                    transition: 1s;
                }
            }

            & .bottom{
                margin-top: 2%;
            }

            & .top--harmony{
                border-radius: 15px;

                & .harmony{
                    background: linear-gradient(158.72deg, #CFAFFF 0%, #A6C6D1 100%);
                }
            }

            & .bottom--harmony{

                & h4:hover{
                    background: #5DCFF9;                    ;
                }
            }

            & .bottom--nft{
                & h4:hover{
                    background: #A6C6D1;
                }
            }

            & .bottom--hydrocycles{
                & h4:hover{
                    background: #16d397;
                }
            }

            & .bottom--xbox{
                & h4:hover{
                    background: #8dd83d;
                }
            }

            & .bottom--attor{
                & h4:hover{
                    background: #d1b06b;
                }
            }

            & .bottom--indonesia{
                & h4:hover{
                    background: #FFCC33;
                }
            }

            & .bottom--onlineStore{
                & h4:hover{
                    background: white;
                }
            }

            
            & .nftmarket{
                height: 445px;
            }

            & .hydrocycle{
                height: 445px;
                background: #ffffff;
                border: 3px solid #dc143c;
            }
        }

    }

    & .goodbye{
        margin-top: 40px;
        & h6{
            font-family: 'sunday';
            font-size: 48px;
            text-align: center;
        }

        & p{
            text-align: center;
            font-size: 30px;
        }
    }
}